%h1 Listing pages

%table.table-bordered.table-hover.table-striped
  %thead
    %tr
      %th Url
      %th Title
      %th Description
      %th Keywords
      -#%th Body
      %th
      %th
      %th

  %tbody
    - @pages.each do |page|
      %tr
        %td= page.url
        %td= page.title
        %td= link_to 'Show', admin_page_path(page)
        %td= link_to 'Edit', edit_admin_page_path(page)
        %td= link_to 'Destroy', admin_page_path(page), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Page', new_admin_page_path
