%p#notice= notice

%p
  %b Url:
  = @page.url
%p
  %b Title:
  = @page.title
%p
  %b Body:
  = @page.body.html_safe

= link_to 'Edit', edit_admin_page_path(@page)
\|
= link_to 'Back', admin_pages_path
