- content_for :title, t(:resend_confirmation_instructions)
.col-md-9
  %h2
    = t(:resend_confirmation_instructions)
  = simple_form_for(@user, :as => :user, :url => confirmation_path(:user), :html => { :method => :post }) do |f|
    = f.error_notification
    = f.full_error :confirmation_token
    = f.input :email, :required => true, :autofocus => true
    = f.button :submit, t(:resend_confirmation_instructions)
  %br
  = render "devise/shared/links"
