- content_for :title, t(:sign_up)
.col-md-9
  %h2
    = t(:sign_up)
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), wrapper: :horizontal_form) do |f|
    = f.error_notification
    = f.input :email, :required => true, :autofocus => true
    = f.input :password, :required => true
    = f.input :password_confirmation, :required => true
    = f.button :submit, t(:sign_up)
  %br
  = render "devise/shared/links"
