- content_for :title, @page.title
- content_for :description, @page.description
- content_for :keywords, @page.keywords

= @page.body.html_safe

- content_for :footer do
  #vk_like
  :javascript
    VK.Widgets.Like("vk_like", {type: "button"});
  :javascript
    document.write(VK.Share.button(false,{type: "link", text: "Сохранить"}));
  %div
    &nbsp;
  .fb-like{ data: { href: request.url, layout: 'button_count', action: 'like', 'show-faces'=>'true', share:'true'} }
  %div
    &nbsp;
  #vk_comments
  :javascript
    VK.Widgets.Comments("vk_comments", {limit: 10, attach: "*"});
