- content_for :title, t(:sign_in)
.col-md-9
  %h2
    = t(:sign_in)
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), wrapper: :horizontal_form, wrapper_mappings: { boolean: :horizontal_boolean}) do |f|
    = f.input :email, :required => false, :autofocus => true
    = f.input :password, :required => false
    = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
    = f.button :submit, t(:sign_in)
  %br
  = render "devise/shared/links"
