= simple_form_for([:admin, @page, @training], html: { multipart: true }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :place
    = f.input :active do
      = f.collection_radio_buttons :active, [[true, 'Yes'] ,[false, 'No']], :first, :last
    = f.input :date_start do
      = f.date_select :date_start, :order => [:day, :month, :year]
    = f.input :date_end do
      = f.date_select :date_end, :order => [:day, :month, :year]
    = f.input :avatar do
      = f.file_field :avatar
    = f.input :body, as: :ckeditor

  .form-actions
    = f.button :submit
