%h1 Listing training

%table.table-bordered.table-hover.table-striped
  %thead
    %tr
      %th Url
      %th Place
      %th Title
      %th Start
      %th End
      %th Active
      %th
      %th
      %th

  %tbody
    - @trainings.each do |training|
      %tr
        %td= training.page.url
        %td= training.place
        %td= training.title
        %td= training.date_start
        %td= training.date_end
        %td= training.active
        %td= link_to 'Show', admin_training_path(training)
        %td= link_to 'Edit', edit_admin_training_path(training)
        %td= link_to 'Destroy', admin_training_path(training), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Training', admin_new_training_path
