%p#notice= notice

%p
  %b Avatar:
  = image_tag("#{@training.avatar.thumb.url}")
%p
  %b Url:
  = @training.page.url
%p
  %b Date:
  = "#{@training.date_start} - #{@training.date_end}"
%p
  %b Place:
  = @training.place
%p
  %b Active:
  = @training.active
%p
  %b Title:
  = @training.title
%p
  %b Body:
  = @training.body.html_safe

= link_to 'Edit', edit_admin_training_path(@training)
\|
= link_to 'Back', admin_trainings_path
