%header.main-header
  %nav.navbar.navbar-fixed-top
    .container
      .navbar-header
        %a.navbar-brand.hidden-sm{:href => '/'}
          %b ИСКУССТВО ЛЮБИТЬ
        %button.navbar-toggle.collapsed{'data-target' => '#navbar-collapse', 'data-toggle' => 'collapse', :type => 'button'}
          %i.fa.fa-bars
      #navbar-collapse.collapse.navbar-collapse.pull-left
        %ul.nav.navbar-nav
          %li.active
            %a{:href => '/'}
              Главная
              %span.sr-only (current)
          %li
            %a{:href => '/schedule'} Расписание
          %li.dropdown
            %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '/about'}
              О школе
              %span.caret
            %ul.dropdown-menu{:role => 'menu'}
              %li
                %a{:href => '/about'} Задачи, принципы, направление
              %li
                %a{:href => '/lev'} Лев Тетерников
              %li
                %a{:href => '/instructors'} Преподаватели
              %li
                %a{:href => '/reviews'} Отзывы
              %li
                %a{:href => '/press'} Пресса о нас
          %li
            %a{:href => '/tantra'} Тантра
          %li
            %a{:href => '/reiki/index'} Рэйки
          %li
            %a{:href => '/contacts'} Контакты
          %li
            %a{:href => '/library'} Библиотека
