%section#menu
  / Search
  %section
    %form.search{:action => '#', :method => 'get'}
      %input{:name => 'query', :placeholder => 'Поиск', :type => 'text'}/
  / Links
  %section
    %ul.links
      %li
        %a{:href => '#'}
          %h3 Главная
          /%p Feugiat tempus veroeros dolor
      %li
        %a{:href => '#'}
          %h3 Расписание
          %p занятий и тренингов
      %li
        %a{:href => '#'}
          %h3 О школе
      %li
        %a{:href => '#'}
          %h3 Сексуальность и духовность
      %li
        %a{:href => '#'}
          %h3 Семья - искусство любить
      %li
        %a{:href => '#'}
          %h3 Тантра
      %li
        %a{:href => '#'}
          %h3 Йога
      %li
        %a{:href => '#'}
          %h3 Искусство быть женщиной
      %li
        %a{:href => '#'}
          %h3 Рэйки
      %li
        %a{:href => '#'}
          %h3 Отзывы и пресса о нас
      %li
        %a{:href => '#'}
          %h3 Контакты
      %li
        %a{:href => '#'}
          %h3 Библиотека
      %li
        %a{:href => '#'}
          %h3 Лев

  / Actions
  %section
    %ul.actions.vertical
      %li
        %a.button.big.fit{:href => '#'} Войти