- flash.each do |type, message|
  %div{:class => "alert #{bootstrap_class_for(type)} fade in"}
    %button.close{"data-dismiss" => "alert"} ×
    = message
:javascript
  setTimeout(function(){
    $(".alert.alert-info").fadeTo(500,0,function(){
      $(this).remove()
      })
    },5000)
