#vk_api_transport
:javascript
  window.vkAsyncInit = function() {
  VK.init({
  apiId: 5930687
  });
  };

  setTimeout(function() {
  var el = document.createElement("script");
  el.type = "text/javascript";
  el.src = "https://vk.com/js/api/openapi.js?142";
  el.async = true;
  document.getElementById("vk_api_transport").appendChild(el);
  }, 0);