!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title= content_for(:title)
    - if(content_for(:description))
      %meta{:name => "description", :content => content_for(:description)}
      %meta{ property: 'og:description', content: content_for(:description) }
    - if(content_for(:keywords))
      %meta{:name => "description", :content => content_for(:keywords)}
    = favicon_link_tag
    /%link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700", :rel => "stylesheet", :type => "text/css"}/
    /%link{:href => "https://fonts.googleapis.com/css?family=Oswald:400,700,300", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = action_cable_meta_tag
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag '//vk.com/js/api/openapi.js?142'
    = javascript_include_tag '//vk.com/js/api/share.js?94', charset:'windows-1251'
    %script
      VK.init({apiId: 5930687, onlyWidgets: true});

    = yield(:head)
    = csrf_meta_tags

    %meta{ property: 'og:url', content: request.url }
    %meta{ property: 'og:type', content: 'website' }
    %meta{ property: 'og:title', content: content_for(:title) }
    %meta{ property: 'og:image', content: image_url('logo_small.jpg') }

    / Tell the browser to be responsive to screen width
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/

    = javascript_include_tag Ckeditor.cdn_url
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      = javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"
      = javascript_include_tag "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"

  / ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR.
  %body.hold-transition.skin-blue.layout-top-nav
    / BEGIN BACK TO TOP
    %a#totop{:href => "#"}
      %i.fa.fa-angle-up
    / END BACK TO TOP
    .wrapper
      = render 'layouts/header'
      = render 'layouts/metrika'
      = render 'layouts/analytics'
      = render 'layouts/fb'
      = render 'layouts/pixel'
      .content-wrapper
        .container
          %section.content-header.text-center
            %h1
              %strong.visible-sm-block.visible-md-block.visible-lg-block
                ИСКУССТВО ЛЮБИТЬ
              %p
                %small
                  %em
                    Школа Льва Тетерникова
            = image_tag 'logo_small.jpg', style: 'padding-bottom:10px;'
            %h1
              Школа, где человек учится жить, исходя из чувства любви
          / Main content
          %section.content
            = render 'layouts/messages'
            .modal{:style => "display: none"}
              .center
                %i.fa.fa-spinner.fa-pulse.fa-5x.fa-fw.margin-bottom
                %span.sr-only Loading...
            = content_for?(:content) ? yield(:content) : yield

      %footer.main-footer
        .container
          %p.copyright.pull-right
            \© levteternikov.ru
          %p
            Тел. +7 (925) 456-96-29. Время работы: будни с 10:00 до 20:00, выходные - с 11:00 до 15:00. saluthelen@yandex.ru
          %p
            Йога с партнером, парная йога, хатха йога, тантра йога
