- content_for :content do
  .row
    .box.box-solid
      .box-body
        = yield
      - if content_for(:footer)
        .box-footer
          = content_for(:footer)
= render template: 'layouts/application'
